<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="icon-message confirm text-center">
                <!--<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>-->
            </div>
            <div class="modal-body text-center user-alert-message">
                <p>{{message}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="okButton"> {{okText}}</button>
                <button type="button" class="btn btn-default" id="cancelButton">{{cancelText}}</button>
            </div>
        </div>
    </div>
</div>